@import "../../../../styles/breakpoints.scss";

.container {
  background: var(--color__grey-light);
  height: 100vh;
  padding: var(--spacing__vertical-3) var(--spacing__vertical-2);

  @media (min-width: $breakpoint-laptop) {
    padding: var(--spacing__vertical-5) var(--spacing__vertical-11);
  }
}
